.layout {
  font-family: Roboto, Arial, sans-serif;
  color: var(--color-text);
  background-color: var(--color-primary);
  min-height: 100vh;

  .main {
    display: flex;
    flex-direction: column;
    padding-inline: 10vw;
    padding-block-end: 10vw;

    .header {
      display: flex;
      align-self: flex-start;
      font-family: Georgia, "Times New Roman", Times, serif;
      padding-block: 50px 40px;
      letter-spacing: -3px;
      font-size: 60px;
      font-weight: bold;
      box-sizing: border-box;
      color: var(--color-accent);
    }
  }
}
