.status {
  border-radius: 9999px;
  align-self: flex-start;
  padding-inline: 15px;
  padding-block: 5px;
  font-size: 12px;

  background-color: color-mix(in srgb, currentColor 20%, transparent);

  &.success {
    color: var(--color-success);
  }
  &.error {
    color: var(--color-error);
  }
  &.warning {
    color: var(--color-warning);
  }
}
