.container {
  display: grid;
  column-gap: var(--space-4);
  border-radius: 5px;
  grid-template-columns: 70px 100px 1fr auto;

  .description {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    font-size: 14px;
  }

  .name {
    font-weight: bold;
  }

  .status {
    border-radius: 9999px;
    align-self: flex-start;
    padding-inline: 15px;
    padding-block: 5px;
    font-size: 12px;

    &.success {
      color: var(--color-text);
      background-color: var(--color-success);
    }

    &.fail {
      color: var(--color-error);
      background-color: var(--color-warning);
    }
  }

  .image {
    width: 70px;
    height: 70px;

    &.stub {
      background-color: var(--color-secondary);
    }
  }
}
