.container {
  --border-radius: 12px;

  border-radius: var(--border-radius);
  background-color: var(--color-paper);
  border: 1px solid var(--color-paper);
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  &.clickable {
    &:hover {
      background-color: var(--color-accent);
      border-color: var(--color-accent);
      cursor: pointer;
      transition: transform ease-out 500ms;
      transform: scale(1.01);
    }
  }

  .image {
    padding-inline: var(--space-2);
    padding-block: var(--space-2) 0;
    box-sizing: border-box;
  }
  .stub {
    background-color: var(--color-secondary);
    min-height: 50%;
  }
  .image,
  .stub {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    width: 100%;
  }
  .title {
    padding-block: 0;
    padding-inline: var(--space-4);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content {
    padding-inline: var(--space-4);
    padding-block: 0 var(--space-4);
  }
}
